---
# Alternate environments to push to.
environments:
  - Docker
  - GitHub

# Possible URLs of the Release files of the Debian repository.
repo_url: https://apt.llvm.org/{debian_version}
repo_component: main
repo_distributions:
  default:
    - llvm-toolchain-{debian_version}-{version}
    - llvm-toolchain-{version}
  dev:
    - llvm-toolchain-{debian_version}
    - llvm-toolchain

# List of LLVM versions to build.
versions:
  - dev
  - '4.0'
  - '5.0'
  - '6.0'
  - '7'
  - '8'
  - '9'
  - '10'
  - '11'
  - '12'
  - '13'
  - '14'
  - '15'
  - '16'
  - '17'
  - '18'
  - '19'
  - '20'
  - '21'

# Versions of Debian to build for.
debian_versions:
  - unstable
  - trixie
  - bullseye
  - bookworm

# Architectures supported by the Docker Debian images and the LLVM repositories.
# Support per LLVM version is detected automatically, but some architectures have been
# excluded because the repository does not contain the correct packages.
debian_architectures:
  default: [amd64, arm64, s390x]
  unstable: [amd64]
  buster: [amd64]
  bullseye: [amd64, arm64]

# Mapping of Debian architectures to Docker architectures.
docker_platforms:
  amd64: linux/amd64
  arm64: linux/arm64/v8
  i386: linux/386
  s390x: linux/s390x

# Packages to install for LLVM versions.
packages:
  default:
    - clang-{version}
    - clang-tidy-{version}
    - clang-format-{version}
    - lld-{version}
    - libc++-{version}-dev
    - libc++abi-{version}-dev
  dev:
    - clang
    - clang-tidy
    - clang-format
    - lld
    - libc++-dev
    - libc++abi-dev
  '3.6': &3
    - clang-{version}
    - clang-format-{version}
    - libc++-{version}-dev
    - libc++abi-{version}-dev
  '3.7': *3
  '3.8': *3
  '3.9': *3
  '4.0': &4
    - clang-{version}
    - clang-tidy-{version}
    - clang-format-{version}
    - libc++-{version}-dev
    - libc++abi-{version}-dev
  '5.0': *4
  '6.0': &6
    - clang-{version}
    - clang-tidy-{version}
    - clang-format-{version}
    - libc++-{version}-dev
    - libc++abi-{version}-dev
  '7': *6
  '8': *6
  '9': *6
  '10': *6
  '11': *6
  '14':
    - clang-{version}
    - clang-tidy-{version}
    - clang-format-{version}
    - lld-{version}
    - libc++-{version}-dev
    - libc++abi-{version}-dev
    - libclang-rt-{version}-dev
